
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f7fa;
    margin: 0;
    padding: 30px;
    color: #333;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3 {
    text-align: center;
    color: #2c3e50;
}

h1 {
    margin-bottom: 20px;
    font-size: 36px;
}

textarea {
    border: 1px solid #ccd1d9;
    border-radius: 8px;
    font-size: 16px;
    padding: 12px;
    width: 80%;
    max-width: 700px;
    height: 260px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.06);
    transition: 0.2s ease;
    display: block;
    margin-bottom: 20px;
}

textarea:focus {
    border-color: #3498db;
    box-shadow: 0 2px 6px rgba(52,152,219,0.4);
    outline: none;
}

/* --------- BUTTON --------- */
button {
    background: #3498db;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease;
    margin-bottom: 25px;
}

button:hover {
    background: #2980b9;
}


#resultBox {
    background: white;
    padding: 15px;
    border-radius: 8px;
    max-width: 700px;
    width: 80%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.12);
    font-size: 16px;
    white-space: pre-wrap;
    font-family: "Courier New", monospace;
}


@media (max-width: 600px) {
    textarea,
    #resultBox {
        width: 95%;
    }

    textarea {
        height: 150px;
    }
}
